.desktop-icon {
  width: 90px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 20px;
  user-select: none;
}

.desktop-icon:nth-of-type(1) {
  position: absolute;
  left: 25px;
  top: 30px;
}

.desktop-icon:nth-of-type(2) {
  position: absolute;
  left: 25px;
  top: 130px;
}

.desktop-icon:nth-of-type(3) {
  position: absolute;
  left: 25px;
  top: 230px;
}

.desktop-icon:nth-of-type(4) {
  position: absolute;
  left: 25px;
  top: 330px;
}

.icon-box {
  width: 54px;
  height: 54px;
  margin: 0 auto 6px;
  background: #d8d8d8;
  color: #111;
  border: 2px solid #fff;
  border-right-color: #555;
  border-bottom-color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.desktop-icon:hover span {
  background: #003b7a;
  color: white;
}

.main-window {
  left: 140px;
}
